.container-products{
  width: 80%;
  margin: 20px auto;
  background-color: #ffff;

}
.product-cards2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 768px) {
.container-products{
  width: 100%;
  font-size: clamp(8px, 1vw, 18px);
  padding: 0px;
  margin: 0;
}
.productos{
  width: 100%;
  margin: 0;
}
.product-card2{
  width: 100%;
  margin-bottom: 20px;
}

.product-card2 img{
  width: 100%;
  height: auto;
}

}
