/* Contenedor principal del formulario de pago con tarjeta */
.pago-tarjeta {
    position: absolute;
    background-color: #eeeded;
    width: 60%;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    min-height: 400px;
    color: rgb(39, 38, 38);
}

/* Estilos para los campos de datos */
.pago-tarjeta .datos {
    width: 80%;
    padding: 10px;
    border: none;
    border: 1px solid rgba(60, 59, 59, 0.466);
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    margin: 20px;
    transition: all 0.3s ease;
    outline: none;
    color: rgb(39, 38, 38);
    letter-spacing: 1px;
    line-height: 1.5;
}

/* Contenedor para la dirección */
.pago-tarjeta .direccion {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilos para los campos de dirección y selección */
.pago-tarjeta .direccion input,
.pago-tarjeta .direccion select {
    width: 40%;
    padding: 10px;
    border: none;
    border: 1px solid rgba(60, 59, 59, 0.466);
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    margin: 20px;
}

/* Contenedor para los campos de pago */
.pago-tarjeta .pago {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para el campo de número de tarjeta */
.tarjeta {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(60, 59, 59, 0.466);
}

/* Estilos para los campos de expiración y CVV */
.expiracion,
.cvc {
    width: 10%;
    padding: 10px;
    border: 1px solid rgba(60, 59, 59, 0.466);
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
    margin: 20px;
}

/* Estilo para el botón de confirmar compra */
.pago-tarjeta button {
    padding: 10px;
    border: none;
    border: 1px solid rgba(60, 59, 59, 0.466);
    text-align: center;
    font-size: clamp(0.5rem, 1.5vw, 0.7rem);
}
