/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Estilos del encabezado */
.header {
  width: 100%;
  padding: 15px 25px;
  border-bottom: 1px solid #c9aa5f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffd777;
  box-sizing: border-box;
}

/* Botón de cerrar sesión en el encabezado */
.logout-btn {
  background-color: #74c0fc;
  border: 1px solid #007bff;
  border-radius: 8px;
  color: white;
  padding: 8px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: #007bff;
  border: 1px solid #74c0fc;
}

.logout-btn:active {
  background-color: #007bff;
  border: 1px solid #74c0fc;
}

/* Contenedor principal del dashboard */
.content-dash {
  display: flex;
  justify-content: space-between;
}

/* Estilos de la barra lateral */
.sidebar-1 {
  background-color: #424a5d;
  width: 14%;
  height: 800px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 20px;
  transition: all 1s ease-in-out;
}

.sidebar-1 h2 {
  text-align: center;
  color: white;
  font-weight: 500;
}

/* Botones del menú de la barra lateral */
.sidebar-1 button {
  background: none;
  color: #ccc8c8;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-1 button:hover {
  background-color: #007bff;
}

.sidebar-1 button.selected {
  color: #ffffff;
  font-weight: 400;
  background-color: #74c0fc;
}

/* Contenedor del encabezado de la barra lateral */
.header-sliderbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-sliderbar h1 {
  padding: 0 20px;
  color: white;
  font-weight: bold;
  font-size: clamp(0.2rem, 5vw, 1.2rem);
}

/* Contenedor de información principal */
.container-info {
  min-width: 60%;
  max-width: 80%;
}

/* Estilos para la sección de información de usuarios */
.usuarios-info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 50px 0;
  margin-bottom: 50px;
}

.usuarios-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  height: 200px;
  width: 200px;
  text-align: center;
  gap: 20px;
  border: 3px solid #ccc8c8;
  border-radius: 8px;
  font-weight: 300;
}

.usuarios-info small {
  font-size: 0.3em;
  color: #ff011a;
  display: none;
}

.usuarios-info:hover small {
  display: grid;
  transition: all 0.3s ease;
}

.estadistica:hover {
  background-color: white;
  border: 3px solid #ccc8c8;
  transition: all 0.3s ease;
  cursor: pointer;
  height: 210px;
}

/* Estilos de la sección de notificaciones */
.notification {
  min-height: 800px;
  background-color: white;
  padding: 10px;
  width: 20%;
}

.notification h2 {
  text-align: center;
  font-size: clamp(1rem, 5vw, 1.5rem);
  background-color: #ff865c;
  color: white;
  padding: 20px;
  font-weight: 430;
}

.notification .time {
  font-size: clamp(1rem, 5vw, 1rem);
  border: 2px solid #74c0fc;
  padding: 4px;
  border-radius: 50%;
}

.notification ul {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.notification ul li {
  padding: 15px 0;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #989898;
  border-bottom: 1px solid #ccc8c8;
}

.notification ul li div {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  font-weight: 300;
}

.notification b {
  color: #74c0fc;
  font-weight: 500;
}

/* Estilos del contenido principal */
.main-content {
  flex: 1;
  padding: 20px 0;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
}

/* Estilos del formulario de productos */
.product-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

.product-form h3 {
  margin-bottom: 20px;
}

.product-form input,
.product-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  box-sizing: border-box;
  padding-left: 8px;
}

/* Estilos generales de los fieldset en el área de administración */
.admin fieldset {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

fieldset fieldset {
  margin-top: 10px;
  padding: 0;
  border: none;
}

option {
  font-size: 10px;
}

/* Estilos de los botones en el área de administración */
.admin button:active {
  background-color: #33333378;
  color: white;
}

/* Botones del formulario de productos */
.product-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product-form button:hover {
  background-color: #0056b3;
}

.product-form .clear-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.product-form .clear-btn:hover {
  background-color: #bb2d3b;
}

/* Estilos de la tabla de productos */
.table-container {
  margin-top: 50px;
  width: 100%;
}

/* Estilos de la barra de búsqueda en administración */
.admin .search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 90%;
  margin: 10px auto;
  border: 1px solid #ccc;
}

.admin .search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.admin .search-bar .search-icon {
  margin-left: -40px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin .search-bar .search-icon:hover {
  background-color: #0056b3;
}

/* Imagen del producto */
.product-image {
  width: 50px;
  height: auto;
  max-height: 100px;
}

/* Lista de productos */
.product-list {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  overflow-x: auto;
}

.product-list table {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-list th {
  cursor: pointer;
}

.product-list th:nth-child(7),
.product-list td:nth-child(7) {
  text-align: center;
}

/* Botones de acciones en la lista de productos */
.product-list .btns button {
  margin-right: 5px;
}

/* Paginación en la lista de productos */
.product-list .pagination {
  margin-top: 20px;
  text-align: center;
}

.product-list .pagination button {
  margin-right: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 5px 10px;
  cursor: pointer;
}

.product-list .pagination button.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

/* Paginación general */
.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.pagination button.active {
  background-color: #0056b3;
}

.pagination button:hover {
  background-color: #0056b3;
}

.pagination button:focus {
  outline: none;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Alineación para las columnas de acciones */
.product-list th:nth-child(8),
.product-list td:nth-child(8) {
  text-align: center;
}

/* Botones de editar y eliminar */
.edit-btn,
.delete-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px; /* Ajusta el padding según sea necesario */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product-list .edit-btn:hover,
.product-list .delete-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
}

.edit-btn {
  margin-right: 5px; /* Ajusta el margen entre los botones según sea necesario */
}

/* Estilos para ver.jsx */
.absolute {
  position: absolute;
}

.container-filtro {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.filtro-paginacion {
  padding: 0;
  margin: 0;
  height: 36px;
  width: 100px;
  border-radius: 8px 0 0 8px;
  text-align: center;
}

.update-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.select-rol {
  width: 10%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

/* Barra de progreso personalizada */
.progress-bar-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.progress-step-custom {
  display: flex;
  flex-direction: column; /* Cambia la dirección del contenido a columna */
  align-items: center;
  position: relative;
}

.icon-custom {
  background-color: #ccc;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.label-custom {
  margin-bottom: 8px; /* Ajusta el margen para que esté separado del icono */
  text-align: center;
  font-size: 12px;
}

.divider-custom {
  width: 50px;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  z-index: -1;
}

.progress-step-custom.active .icon-custom {
  background-color: inherit; /* Se usa el color dinámico del estado */
}

.progress-step-custom.active .divider-custom {
  background-color: inherit; /* Se usa el color dinámico del estado */
}

/* Estilos para el carrito de compras */
.carrito-container {
  padding: 20px;
}

.encabezado {
  margin-bottom: 20px;
}

.lista-carrito {
  display: flex;
  flex-direction: column;
}

.carro-vacio {
  text-align: center;
  margin-top: 20px;
}

.llave {
  font-size: 40px;
  color: red;
}

.producto {
  margin-top: 10px;
}

.btn-iniciar-sesion {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.item-carrito {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.detalle-item {
  display: flex;
  width: 100%;
}

.carrito-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.nombre {
  flex: 1;
}

.carrito-info {
  flex: 1;
}
