.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  p {
    margin-right: 20px;
    line-height: 1.5;
    font-family:  "Cabin Sketch";
    font-size: 30px;
    font-weight: 100;
    text-align: right;
  }
  
  .imgerror {
    max-width: 300px;
    height: auto;
  }
  
  button {
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: 600;
    background-color: #00132b;
    border-radius: 10px;
    color: white;
    border: 0.5px solod gray;
  }
 
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }
  
    p {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }