.error404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .error404 .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .error404  p {
    margin-right: 20px;
    line-height: 1.5;
    font-family:  "Cabin Sketch";
    font-size: 40px;
    font-weight: 100;
    text-align: right;
  }
  
  .error404  .imgerror {
    max-width: 300px;
    height: auto;
  }
  

  @media (max-width: 768px) {
    .error404  .content {
      flex-direction: column;
    }
  
    .error404  p {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }